:root, [data-bs-theme=light] {
  --bs-primary: #001196;
  --bs-primary-rgb: 0,17,150;
  --bs-primary-text-emphasis: #00073C;
  --bs-primary-bg-subtle: #CCCFEA;
  --bs-primary-border-subtle: #99A0D5;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #001196;
  --bs-btn-border-color: #001196;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000E80;
  --bs-btn-hover-border-color: #000E78;
  --bs-btn-focus-shadow-rgb: 217,219,239;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000E78;
  --bs-btn-active-border-color: #000D71;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #001196;
  --bs-btn-disabled-border-color: #001196;
}

.btn-outline-primary {
  --bs-btn-color: #001196;
  --bs-btn-border-color: #001196;
  --bs-btn-focus-shadow-rgb: 0,17,150;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #001196;
  --bs-btn-hover-border-color: #001196;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #001196;
  --bs-btn-active-border-color: #001196;
  --bs-btn-disabled-color: #001196;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #001196;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.my-2 {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.mt-2 {
  margin-top: .5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.me-2 {
  margin-right: .5rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ms-2 {
  margin-left: .5rem !important;
}

.p-2 {
  padding: .5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.py-2 {
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pb-2 {
  padding-bottom: .5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

@media (min-width: 768px) {
  .p-md-5 {
    padding: 3rem !important;
  }
}

@media (min-width: 768px) {
  .py-md-0 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }
}

@media (min-width: 768px) {
  .pt-md-0 {
    padding-top: 0rem !important;
  }
}

@media (min-width: 768px) {
  .pb-md-4 {
    padding-bottom: 1.5rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 992px) {
  .pb-lg-1 {
    padding-bottom: 0.25rem !important;
  }
}

@media (min-width: 1200px) {
  .me-xl-0 {
    margin-right: 0rem !important;
  }
}

@media (min-width: 1200px) {
  .mb-xl-4 {
    margin-bottom: 1.5rem !important;
  }
}

@media (min-width: 1200px) {
  .p-xl-4 {
    padding: 1.5rem !important;
  }
}

@media (min-width: 1200px) {
  .py-xl-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .pt-xl-5 {
    padding-top: 3rem !important;
  }
}

